.footer {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-conversor {
    background: rgba(0, 0, 0, 0.7);
}

.bg-cotacoes {
    background: rgba(255, 255, 255, 0.06);
}

.copyright {
    font-size: 2rem;
    color: #F5F5F5;
}