header {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.logo {

}

.menu {
    display: flex;
    gap: 5rem;
}

.menu__item {
    font-size: 2.4rem;
    text-decoration: none;
    color: #BBB;
    position: relative;
    transition: 0.3s;
}

.menu__item:hover {
    color: #FFF;
}

.menu__item::after {
    content: '';
    height: 0.3rem;
    background-color: #FFF;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 1rem;
    opacity: 0%;
    transition: 0.3s;
}

.menu__item:hover::after {
    opacity: 100%;
}

.active {
    color: #F52222;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        height: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        flex-direction: column;
        gap: 0;
    }

    .logo {
        margin: 16px 0 8px;
    }

    .menu {
        margin: 16px;
        width: 100%;
        gap: 0;
        justify-content: space-evenly;
    }

    .menu__item {
        font-size: 20px;
    }
}