header {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.logo {

}

.menu {
    display: flex;
    gap: 5rem;
}

.menu__item {
    font-size: 2.4rem;
    text-decoration: none;
    color: #BBB;
    position: relative;
    transition: 0.3s;
}

.menu__item:hover {
    color: #FFF;
}

.menu__item::after {
    content: '';
    height: 0.3rem;
    background-color: #FFF;
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 1rem;
    opacity: 0%;
    transition: 0.3s;
}

.menu__item:hover::after {
    opacity: 100%;
}

.active {
    color: #F52222;
}