<div class="conversor">
    <div class="conversor-container">
        <div class="card">
            <div class="card-container box">
                <h1 class="card__title">CONVERSOR DE MOEDAS</h1>
                <div class="moedas mt-2">
                    <div class="moedas-container">
                        <label class="label" for="converter-de">CONVERTER DE:</label>
                        <select class="dropdown" id="converter-de" [(ngModel)]="moedaOrigem" [compareWith]="compareMoedaFn" (change)="onMoedaChange()">
                            <option *ngFor="let moeda of moedas" [ngValue]="moeda">{{moeda.descricao}}</option>
                        </select>
                        <label class="label mt-2" for="converter-para">CONVERTER PARA:</label>
                        <select class="dropdown" id="converter-para" [(ngModel)]="moedaDestino" [compareWith]="compareMoedaFn" (change)="onMoedaChange()">
                            <option *ngFor="let moeda of moedas" [ngValue]="moeda">{{moeda.descricao}}</option>
                        </select>
                    </div>
                    <div class="moedas-switch">
                        <img src="../assets/line-up.svg" alt="Linha superior do switch">
                        <button type="button" class="btn-switch" (click)="switchMoedas()">
                            <img src="../assets/switch.svg" alt="Ícone de troca de moedas">
                        </button>
                        <img src="../assets/line-down.svg" alt="Ícone inferior do switch">
                    </div>
                </div>
                <label class="label mt-2">VALOR ({{moedaOrigem?.codigo}}):</label>
                <input class="input-valor" type="number" [(ngModel)]="valor">

                <button class="button ff-roboto" type="button" (click)="calcular()">CALCULAR</button>

                <!-- Resultado + Rodapé -->
                <div *ngIf="resultado && resultado > 0; else placeholder" class="resultado_rodape">
                    <span class="resultado">{{currencyFormat(resultado)}}</span>
                    <div class="rodape">
                        <div class="rodape__item">DATA DA COTAÇÃO UTILIZADA: {{dataCotacao}}</div>
                        <div class="rodape__item">TAXA: 1 {{moedaOrigem?.descricao?.toUpperCase()}} EQUIVALE A
                            {{currencyFormat(valorCotacao)}} {{moedaDestino?.descricao?.toUpperCase()}}</div>
                    </div>
                </div>

                <!-- Placeholder -->
                <ng-template #placeholder>
                    <div class="placeholder">CLIQUE EM CALCULAR</div>
                </ng-template>
            </div>
            <div *ngIf="loading" class="card-spinner box">
                <div class="spinner"></div>
                <span class="text-spinner">CALCULANDO ...</span>
            </div>
        </div>
    </div>
</div>