<div class="conversor">
    <div class="conversor-container">
        <div class="card">
            <h1 class="card__title">CONVERSOR DE MOEDAS</h1>
            <label class="label mt-3" for="converter-de">CONVERTER DE:</label>
            <select class="dropdown" id="converter-de">
                <option *ngFor="let moeda of moedas" value="moeda.codigo">{{moeda.descricao}}</option>
            </select>
            <label class="label mt-3" for="converter-para">CONVERTER PARA:</label>
            <select class="dropdown" id="converter-para">
                <option *ngFor="let moeda of moedas" value="moeda.codigo">{{moeda.descricao}}</option>
            </select>
            <label class="label mt-3">VALOR:</label>
            <input class="input-valor" type="number">

            <button class="button ff-roboto" type="button" (click)="calcular()">CALCULAR</button>

            <!-- Placeholder -->
            <div class="placeholder">CLIQUE EM CALCULAR</div>

            <!-- Resultado + Rodapé -->
            <div class="resultado_rodape">
                <span class="resultado">4,9234 BRL</span>
                <div class="rodape">
                    <div>DATA DA COTAÇÃO UTILIZADA: 10/11/2023</div>
                    <div>TAXA: 1 DÓLAR AMERICANO EQUIVALE A 4,9123 REAL BRASILEIRO</div>
                </div>
            </div>
        </div>
    </div>
</div>