.conversor {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.conversor-container {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 50rem;
    /* Precisa ser reajustado */
    height: 90%;
    position: relative;
}

.box {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-container {
    background: linear-gradient(rgba(43, 43, 43, 0.95), rgba(43, 43, 43, 0.266)) padding-box,
        linear-gradient(rgba(104, 104, 104, 1), rgba(104, 104, 104, 0)) border-box;
    border: 2px solid transparent;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.9);
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1.6rem;
    border: 4px solid rgba(217, 217, 217, 1);
    border-top-color: rgba(121, 116, 126, 1);
    animation: spinner .8s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.text-spinner {
    font-size: 2.4rem;
    color: #FFF;
}

.card__title {
    font-size: 4rem;
    color: #FFF;
    text-align: center;
    margin: 0 0 1rem;
}

.moedas {
    display: flex;
    align-items: center;
}

.moedas-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.moedas-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 0 1rem;
}

.btn-switch {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 1rem;
}

.label {
    font-size: 2.4rem;
    color: #FFF;
    padding: 0 0 .4rem 1.6rem;
}

.mt-3 {
    margin-top: 3rem;
}

.dropdown {
    border: 2px solid #FFF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 2.8rem;
    padding: 2rem 1.6rem;
    color: #FFF;
}

.input-valor {
    font-size: 3rem;
    color: #FFF;
    padding: 2rem 1.6rem;
    border: 1.3px solid #79747E;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 4.4rem;
}

.button {
    background-color: #F52222;
    font-size: 1.8rem;
    padding: 1.4rem;
    color: #FFF;
    border-radius: 24px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

.placeholder {
    font-size: 2.8rem;
    color: #BBBBBB;
    text-align: center;
    padding: 9rem;
}

.resultado_rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.resultado {
    font-size: 4.8rem;
    color: #FFF;
    margin-top: 6rem;
}

.rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rodape__item {
    font-size: 2rem;
    color: #6C6464;
}