.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2rem 2rem;
    box-sizing: border-box;
}

.card {
    width: 97rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    color: #FFF;
    margin: 2.4rem;
}

.divider {
    height: 1px;
    background-color: #000;
}

.card__content {
    overflow-y: auto;
    flex: 1;
}

.header {
    display: flex;
    padding: 2.4rem;
}

.header__item {
    font-size: 2.4rem;
    color: rgba(187, 187, 187, 1);
    flex: 1;
}

.cotacao {
    padding: 1.6rem 2.4rem;
    display: flex;
}

.cotacao:hover {
    background: rgba(217, 217, 217, 0.15);
}

.cotacao__item {
    color: #FFF;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    flex: 1;
}

.variacao-positive {
    color: #47FF7B;
}

.variacao-negative {
    color: #F52222;
}

.btn-go-to-conversor {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    height: 3.6rem;
    width: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-go-to-conversor:hover {
    content: url('../../../assets/go-to-conversor-hover.svg');
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
    }

    .hide-xs {
        display: none;
    }

    .header {
        padding: 24px;
    }

    .cotacao {
        padding: 16px 24px;
    }

    .header__item {
        font-size: 24px;
    }

    .cotacao__item {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .hide {
        display: none;
    }
}