<div class="content">
    <div class="card">
        <h1 class="title">COTAÇÕES EM TEMPO REAL</h1>
        <div class="divider"></div>
        <div class="card__content">
            <div class="header">
                <div class="header__item">MOEDA</div>
                <div class="header__item hide-xs justify-content-center">VARIAÇÃO (%)</div>
                <div class="header__item justify-content-end">VALOR (R$)</div>
            </div>
            <div *ngFor="let cotacao of cotacoes$ | async" class="cotacao">
                <div class="cotacao__item">{{cotacao.name}}</div>
                <div class="cotacao__item hide-xs justify-content-center" [ngClass]="getClassBy(cotacao.varBid)">{{cotacao.getVariacao()}}</div>
                <div class="cotacao__item justify-content-end">
                    <span class="hide" [ngClass]="getClassBy(cotacao.varBid)">•</span>
                    {{cotacao.getValorMonetario()}}
                    <button type="button" class="btn-go-to-conversor hide-xs" (click)="goToConversor(cotacao)">
                        <img class="img-go-to-conversor" src="../assets/go-to-conversor.svg"
                            alt="Ícone de ir para o conversor">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>