main {
    height: calc(100vh - 100px);
}

.conversor {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.conversor-container {
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 60%;
    /* Precisa ser reajustado */
    height: 90%;
    background: linear-gradient(rgba(43, 43, 43, 0.95), rgba(43, 43, 43, 0.266)) padding-box,
        linear-gradient(rgba(104, 104, 104, 1), rgba(104, 104, 104, 0)) border-box;
    border-radius: 30px;
    border: 2px solid transparent;
}