.full {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: hidden;
}

.bg {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-conversor {
    background-image: url('../assets/bg-conversor.png');
}

.bg-cotacoes {
    background-image: url('../assets/bg-cotacoes.png');
}